<!DOCTYPE html>

<footer>
                  <div class="container">
                      <div class="copyright">
                        <p>Copyright {% now "Y" %} - Company</p>
                      </div>
                      <div class="social">
                        <a href="https://rodrigonegao.github.io/" id="support">Contato</a>
                        <a href="#" id="face">Facebook</a>
                        <a href="#" id="insta">Instagram</a>
                        <a href="#" id="linked">LinkedIn</a>
                      </div>
                  </div>
</footer>
