{% load static %}

<div class="row">
                                  <div class="col-sm-6"><ul class="list-unstyled">
                                    <li class="media">
                                      <a href="{% url 'resumetemp' %}"><img src="{% static 'images/icon_64x64.png' %}" class="mr-3 rounded-left" alt="..."></a>
                                      <div class="media-body" >
                                        <a href="{% url 'resumetemp' %}"><h5 class="mt-0 mb-1" >Curriculo</h5></a>
                                        Crie seu Curriculo Online em PDF com QR Code. 
                                      </div>
                                    </li>
                                    <li class="media my-4">
                                      <a href="{% url 'recibosimplesdados' %}"><img src="{% static 'images/icon_64x64.png' %}" class="mr-3 rounded-left" alt="..."></a>
                                      <div class="media-body">
                                        <a href="{% url 'recibosimplesdados' %}"><h5 class="mt-0 mb-1">Recibo Simples</h5></a>
                                        Faça Um Recibo de modo Simples e Rápido 
                                      </div>
                                    </li>
                                    <li class="media">
                                      <a href="{% url 'contratosimplesdados' %}"><img src="{% static 'images/icon_64x64.png' %}" class="mr-3 rounded-left" alt="..."></a>
                                      <div class="media-body">
                                        <a href="{% url 'contratosimplesdados' %}"><h5 class="mt-0 mb-1">Contrato de Aluguel</h5></a>
                                        Um Contrato Rapido e Seguro para Aluguel
                                      </div>
                                    </li>
                                  </ul></div>
                                  <div class="col-sm-6"><ul class="list-unstyled">
                                    <li class="media">
                                      <a href="{% url 'procsimplesdados' %}"><img src="{% static 'images/icon_64x64.png' %}" class="mr-3 rounded-left" alt="..."></a>
                                      <div class="media-body">
                                        <a href="{% url 'procsimplesdados' %}"><h5 class="mt-0 mb-1">Procuração</h5></a>
                                        Procuração Simples e Rápida.
                                      </div>
                                    </li>
                                    <li class="media my-4">
                                      <a href="{% url 'automenordados' %}"><img src="{% static 'images/icon_64x64.png' %}" class="mr-3 rounded-left" alt="..."></a>
                                      <div class="media-body">
                                        <a href="{% url 'automenordados' %}"><h5 class="mt-0 mb-1">Autorização de Menor</h5></a>
                                        Autorização Aceito em quase todos os lugares.
                                      </div>
                                    </li>
                                    {% comment %} <li class="media">
                                      <a href="{% url 'recibosimplesdados' %}"><img src="{% static 'images/icon_64x64.png' %}" class="mr-3 rounded-left" alt="..."></a>
                                      <div class="media-body">
                                        <a href="{% url 'recibosimplesdados' %}"><h5 class="mt-0 mb-1">List-based media object</h5></a>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                      </div>
                                    </li> {% endcomment %}
                                  </ul></div>
                          </div>