{% extends "pdfmodels/basepdf2.html" %}
{% load static %}
{% block body_block %}
<div class="title1" >AUTORIZAÇÃO DO RESPONSÁVEL</div>
<div class="text" style="text-align:center">Autorização para menores de 18 anos em eventos públicos</div>
<hr>
<div class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight:bold">{{name1}}</span>, nacionalidade
<span style="font-weight:bold"> {{bornfrom1}}</span>, portador(a) do <span style="font-weight:bold">RG nº {{RG1}}</span>, órgão expedidor
<span style="font-weight:bold"> {{RG1from}}</span>, e inscrita no <span style="font-weight:bold">CPF nº {{CPF1}}</span>,
mnorador na rua <span style="font-weight:bold"> {{address1}}</span>, <span style="font-weight:bold"> {{city1}}</span>
<span style="font-weight:bold"> {{state1}}</span>,autorizo o(a) adolescente/filho(a)<span style="font-weight:bold"> {{name2}}</span>, portador(a) do <span style="font-weight:bold">RG nº {{RG2}}</span>,
 órgão expedidor <span style="font-weight:bold">{{RG2from}}</span>,com <span style="font-weight:bold">{{age1}}</span> anos de idade,
conforme documento de identidade que porta, de quem sou <span style="font-weight:bold">{{kinship}}</span> a participar
do evento denominado: <span style="font-weight:bold">{{party1}}</span>,no local <span style="font-weight:bold">{{address3}}</span>,
dia<span style="font-weight:bold"> {{datapicker}} </span>, em companhia de <span style="font-weight:bold">{{name3}}</span>, com
<span style="font-weight:bold">{{age2}}</span> anos de idade, portador e carteira de identidade
<span style="font-weight:bold">RG nº. {{RG3}}</span> órgão expedidor <span style="font-weight:bold">{{RG3from}}</span>,
residente e domiciliado em:<span style="font-weight:bold">{{address2}}.</span></div>
<br>
<br>
<div class="text">Contato(s) do responsável: <span style="font-weight:bold">{{nphone1}}</span> {% if nphone2 == None or nphone2 == '' %}{%else%},
<span style="font-weight:bold"> {{nphone2}}</span>{% endif %}{% if nphone3 == not None or nphone3 == '' %}.{%else%} e <span style="font-weight:bold"> {{nphone3}}</span>.{% endif %}</div>
{% endblock %}
