{% extends "pdfmodels/basepdf1.html" %}
{% load static %}
{% block body_block %}

<div class="title1" >CONTRATO de Compra e Venda de Automóvel Usado </div>
<hr>
<div class="text">As partes abaixo qualificadas:</div>

    Vendedor: RICARDO NUNES MORAIS JUNIOR, brasileiro, convivente, industriário, portador do RG: sob nº 1098707936 e CPF: sob nº 013.446.130-47 residente a rua Pandiá Calógeras nº 922 apt. 401 bloco F Bairro São Miguel na cidade de Rio Grande/ RS.
    Comprador: EDEMILSON BRASIL ROCHA, brasileiro, casado, portador do RG: sob nº 3.010.085-2 e CPF sob nº 025.655.539-78, residente e domiciliado a rua Manuel Gonzales Lopes nº 601, bairro São João na cidade de Rio Grande/ RS.
    As partes acima identificadas têm, entre si, justo e acertado o presente contrato de compra e venda de veículo usado e financiado, que se regerá pelas cláusulas seguintes e pelas condições descritas no presente.
    DO OBJETO DO CONTRATO:
    Cláusula 1ª: O presente contrato tem como objeto, o veículo FORD/ KA FLEX – ano / modelo: 2009/2010 – na cor vermelha – placa IQD 0491 – em nº 09170404918- RENAVAM 00166165093 – CHASSI nº 9BFZK53A0AB145876 – álcool/ gasolina – de propriedade do vendedor acima qualificado, livre de qualquer multas, dividas de IPVA e seguro, apresentando as seguintes características: um automóvel na cor vermelha, usado, em ótimas condições, sem apresentar defeitos na parte mecânica, hidráulica, motor, lataria, tudo funcionando em perfeitas condições.
    Cláusula 2ª: O veículo, objeto deste contrato é usado, apresentando um desgaste natural decorrente do tempo, já visto e inspecionado pelo COMPRADOR, o qual tomou ciência de suas condições e estado de conservação.
    Cláusula 3ª: O veículo está financiado pelo Banco Renner, estando o mesmo com alienação ao Banco até a quitação do financiamento, o financiamento é de 48 parcelas no valor de R$ 474,75 (quatrocentos e setenta e quatro reais e setenta e cinco centavos) com vencimento todos os dias 03 de cada mês, já foram pagas 07 parcelas até o vencimento 03/12/2016. Faltando 41 parcelas a partir do vencimento 03/01/2017.
    Parágrafo 1º: - Em razão de sérum automóvel financiado e estar em nome do vendedor, os compradores se comprometem em efetuar o pagamento das parcelas em moeda corrente nacional diretamente ao vendedor até o dia 02 de cada mês mediante recibo onde deverá constar a parcela e o vencimento que está sendo quitado, o vendedor por sua vez, se compromete em quitar as parcelas mês a mês e prestar contas aos compradores, além das parcelas é de inteira responsabilidade dos compradores o pagamento  do IPVA, multas e manutenção do veículo.
    Parágrafo 2º: - Em caso de interesse em quitar antecipadamente as parcelas, os compradores deverão comunicar o vendedor para que providencie a quitação e descontos junto a financeira.
    Parágrafo 3º: - Em caso de atraso de mais de 02 parcelas, os compradores deverão pagar os juros e multas cobrados pela financeira, e o vendedor retomará o automóvel sem direito em ressarcir os compradores no que já pagaram, podendo ingressar com as medidas cabíveis para retomado do bem.
    DAS RESPONSABILIDADES:
    Cláusulas 4ª: O VENDEDOR se responsabilizará pelo bom estado e perfeito funcionamento do veículo pelo prazo de 90 dias para defeitos no motor e caixa de mudanças, desde de que não apresente mal uso e conservação, contado a partir da assinatura deste instrumento pelas partes.
    Cláusula 5ª: O VENDEDOR se responsabilizará pela entrega do veículo na data de assinatura deste instrumento no local indicado pelo COMPRADOR, nas mesmas condições de que quando foi inspecionado pelo COMPRADOR.
    DA TRANSFERÊNCIA DA PROPRIEDADE DO VEÍCULO:
    Cláusulas 6ª: A transferência da propriedade do veículo será feita no prazo de 30 dias após a quitação da última parcela junto a financeira, que se dará no dia 03/05/2020, ou a partir da data de quitação antecipada, os tramites legais de quitação  e baixa da alienação são feitas diretamente na financeira, não sendo responsabilidade do vendedor a demora neste processo.
    DO PREÇO:
    Clausula 7ª: O comprador pagará ao vendedor pela compra do veiculo objeto deste contrato , a quantia de R$ 3.500,00 ( Três mil e quinhentos reais ) sendo que R$3.000,00 ( três mil reais ) a vista no ato da assinatura do contrato e R$ 500,00 ( quinhentos reais ) pagará mediante a parcela de nº 17/48 , do vencimento dia 03/10/2017 e assim assumindo todo o restante das parcelas ate a quitação total de 31 parcelas encerrando em 03/05/2020.
    Cláusula 8ª: Em caso de atraso nos pagamento das parcelas, incidirão multa de 20% e mais juros, e o atraso de 02 parcelas dará o direito ao comprador de retomar o automóvel sem direito a ressarcir os compradores dos valores já pagos.
    CONDIÇÕES GERAIS :
    Cláusula 9ª: Qualquer problema verificando funcionamento do motor ou caixa de mudanças do veículo, dentro do prazo estabelecido na cláusula 3ª, deverá ser comunicado pelo COMPRADOR ao VENEDOR imediatamente após aquele vir a tomar conhecimento do problema.
    Cláusula 10ª: Enquanto durar o prazo em que o VENDEDOR se responsabiliza pelo perfeito funcionamento do automóvel, ou seja, prazo do financiamento, o COMPRADOR deverá realizar revisões no mesmo com a periodicidade indicada pela fabricante do veículo.
    Cláusula 11ª: O VENDEDOR não se responsabilizará pelos danos causados no veículo por negligência do COMPRADOR, e por problemas decorrentes de não reabilitação das revisões acertadas.
    Cláusula 12ª: Os compradores assumirão qualquer responsabilidade civil, criminal, ou qualquer dano causados a terceiros, ou ao patrimônio a partir da data da assinatura deste instrumento, isentando o vendedor de qualquer responsabilidade na esfera civil criminal, e demais danos que por ventura viera a ocorrer.
    Cláusula 13ª: O presente contrato passa a valer a partir da assinatura pelas partes, obrigando-se a ele os herdeiros ou sucessores das mesmas.
    DO FORO:
    Cláusula 14ª: Para dirimir quaisquer controvérsias oriundas do CONTRATO, as partes elegem ao foro da comarca de Rio Grande/RS .
    Por estarem assim justos e contratados, firmam o presente instrumento em duas vias de igual teor, juntamente com 2(duas) testemunhas.


    Rio Grande 27 de setembro de 2017.


    _____________________				____________________
                 Vendedor                                                                     Comprador

    ______________________
               Testemunhas


{% endblock %}
