{% extends "pdfmodels/basepdf1.html" %}
{% load static %}
{% block body_block %}

<div class="title1" >CONTRATO DE COMPRA E VENDA DE UM VEÍCULO </div>
<hr>
<div class="text">As partes abaixo qualificadas:</div>
<div class="text">VENDEDOR(A):<span style="font-weight:bold"> NOME DO VENDEDOR:</span>, brasileira, casada, aposentada,
   <span style="font-weight:bold"> RG: </span> e <span style="font-weight:bold">CPF: </span>
   residente e domiciliado na cidade de<span style="font-weight:bold"> CIDADE </span>no endereço <span style="font-weight:bold">ENDEREÇO</span>,
    doravante simplesmente denominado VENDEDOR(A).</div>
<div class="text">COMPRADOR(A):<span style="font-weight:bold"> NOME DO comprador:</span>, brasileira, casada, aposentada,
   <span style="font-weight:bold"> RG: </span> e <span style="font-weight:bold">CPF: </span>
   residente e domiciliado na cidade de<span style="font-weight:bold"> CIDADE </span>no endereço <span style="font-weight:bold">ENDEREÇO</span>,
    doravante simplesmente denominado COMPRADOR(A).</div>
<div class="text">Firmam entre si o presente contrato de compra e venda, que se regerá pelas cláusulas e condições a seguir descritas:</div>
<div class="text">Do objeto do contrato:</div>
<div class="text"><span style="font-weight:bold"> DADOS.</span> </div>
<div class="text">Do pagamento:</div>
<div class="text">1ª) Será de <span style="font-weight:bold"> R$ 00,00 ( ESCRITO) </span>  no qual da plena, rasa e total quitação.</div>
<div class="text">2ª) O comprador se responsabilizará pelas despesas geradas neste contrato.</div>
<div class="text">3ª) O foro deste contrato é da Comarca onde foi assinado .</div>
<div class="text">3ª) Por estarem justos e contratados, lavraram o presente instrumento em
02 (duas ) vias de igual teor e forma para as finalidades  de direito.</div>

{% endblock %}
